# Copie para local.properties (não versionar)
sdk.dir=C\:\\Users\\SEU_USUARIO\\AppData\\Local\\Android\\Sdk
FINMEMORY_API_BASE_URL=https://finmemorycomerciantes-836908221936.southamerica-east1.run.app
# stonePackageCloudToken=
